.footer {
    background-color: #7f8fad;
    color: #fff;
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    height: inherit;
    bottom: 0;
    position: fixed;
}

.footer p {
    margin: 0;
    padding: 5px;
}
