.outside-square {
    
    width: 700px;
    box-shadow: 5px 5px 18px $gray;

    div {
        img {
            max-width: 241px;
            width: 241px;
            min-width: 241px;
        
            max-height: 329px;
            height: 329px;
            min-height: 329px;
        }
    }

    div form {
        margin: 5px 12px;
    }

    div form div div div label {
        display: block;
        font-weight: bold;
    }

    input {
        width: 431px;
    }

    select {
        width: 431px;
    }
}